*~
#*
*#
.#*
.classpath
.project
.settings/
.springBeans
target/
_site/
.idea
*.iml
*.swp
.factorypath
*.logtjmeter
.checkstyle
*.log
.DS_Store
build/
.gradle
.gradletasknamecache
nohup.out
effective.pom